html,body{
    background-color: #F6F3EC;
    /*font-family: "微软雅黑";*/
     font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.ovh{overflow: hidden;}
.c777{color: #777}
.red{color: #ff0000}

.wrap{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
           flex-flow: column;
}
.my_btn, .my_btn:focus, .my_btn:hover{
    background-color: #B3AE8E;
    width: 100%;
    border: none;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
    box-shadow: 1px 1px 3px #000 inset
}
/*#frm_main .btn-default:hover, #frm_main .btn-default:focus{
    background-color: #4daf5d;
    border-color: #41944f;
    color: #fff;
}*/
.slide .carousel-inner .item img{
    margin: 0 auto;
}

.opening{
    width: 100%;
    height: 100%;
}
.opening .logo{
    margin-top:38%;
}
.opening #main{
    background-image: url('../image/opening_02.jpg');
    background-size: cover;
}
.opening .my_btn{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%
}
.opening .my_btn:last-child{margin-top: 0;}
.opening .img-responsive{width: 100%}

.welcome {padding: 20px 15px}
.welcome img{margin: 10px 0}

.step2 .my_btn:first-child{margin-bottom: 0;}
.step2 .my_btn{
    margin-top: 5%;
    margin-bottom: 5%;
}
.flex-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    height: 150px
}
.flex-container .my_btn{
    width: 80%;
}

#header{
    /*position: fixed;*/
    padding: 10px;
    background-color: #F6F3EC;
}
#header img{margin-left:auto;margin-right: auto}
#header .ico{margin-top:17px;padding: 25% 0}
#header a{display: inline;}
#frm_main{
    min-height: 640px;
    transition: all 0.5s ease-in;
    padding-top: 120px;
}

.top-title{
    height: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin: 0;
    position: relative;
    text-indent: -1em;
}
.top-title > span.product-title {
  float: left;
  overflow: hidden;
  padding-left: 50px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}
.top-title img{
    height: 50px;
}
.top-title2{
    height: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    margin: 0;
    position: relative;
}
.top-title2 img{
    height: 50px;
}

.recommend h1{
    background-image: url('../image/title_bg.jpg');
    background-size: cover;
}
.category-box{margin: 6px 0;}
.category-box h2{
    font-size: 16px;
    color: #fff;
    height: 33px;
    line-height: 33px;
    padding: 0 20px;
    background-color: #4daf5d;
    margin-top: 0;
    margin-bottom: 5px;
}
.category-box h2 img{
    max-height: 20px;
    vertical-align: text-bottom;
    margin-right: 5px;
}
.category-box .col-xs-6{
    padding-right: 5px;
    padding-left: 5px;
}
.category-box .item{
    background-color: #fff;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 5px
}
.category-box .item .products-title > span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.category-box .item p{
    margin-bottom: 0;
}
.category-box .owl-carousel .owl-item .col-xs-6{width: 100%;padding: 0;}

.form-bg{
    background-image: url('../image/bg.jpg');
    background-size: cover;
    padding: 15% 0;
    color: #6f4105;
    font-size: 16px;
}
.form-bg a{color: #ff7e00;font-size: 13px}
.form-bg .help-block{color: #6f4105;font-size: 14px}
.login h1{
    background-image: url('../image/title_bg2.jpg');
    background-size: cover;
    text-indent: -1em;
}
.phone-form-group .areacodes{width: 32%;float: left;}
.phone-form-group .phone{width: 65%;float: right;}

.form-bg .btn{
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px
}
.login-btn, .login-btn:focus, .login-btn:hover{
    background-color: #4daf5d;
    border-color: #41944f;
}
.reg-btn,.reg-btn:focus, .reg-btn:hover{
    background-color: #b3ae8e;
    border-color: #908c73;
    color: #fff;
}
#forgetpwd-form .reg-btn{
    margin-top: 40px
}

.profile {padding-bottom: 10px;}
.profile h1{
    background-image: url('../image/title_bg3.jpg');
    background-size: cover;
}
#profile-form{
    color:#777777;
    font-size: 16px;
    padding-top: 10px;
}
.save-btn, .save-btn:focus, .save-btn:hover{
    background-color: #d99542;
    border-color: #b77e38;
    color: #fff;
    font-size: 20px;
}

.favorites h1{
    background-image: url('../image/title_bg4.jpg');
    background-size: cover;
    background-position: bottom center;
}
.favorites .item{margin-bottom: 5px}
.favorites-btn{
    margin-top: 12px;
    background-color: transparent;
    border-color: #ff0000;
    font-size: 13px;
    border-radius: 0;
    color: #ff0000;
}
.favorites-btn img, .favorites .item .favorites-btn img{height: 20px;margin-bottom: 0;margin-right: 5px;}

.contact h1{
    background-image: url('../image/title_bg6.jpg');
    background-size: cover;
    background-position: bottom center;
}
.contact p{
    font-size: 16px;
    color: #777;
}

.farms-body{padding-bottom: 10px}

.farms h1{
    background-image: url('../image/title_bg7.jpg');
    background-size: cover;
    background-position: bottom center;
}
.farms .item {margin-bottom: 5px;}
.farms .item .title{
    font-size: 16px;font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.farms .item .address{font-size: 14px;height: 20px;}

.farms-body .recommend .top-title {position: relative;}
.farms-body .category-box{display: none;}
.farms-body .category-box.active{display: block;}

.top-title .arrow{
    position: absolute;
    top: 15px;
    left:25px;
    width:0px;
    height:0px;
    border-bottom:10px solid transparent;  /* left arrow slant */
    border-top:10px solid transparent; /* right arrow slant */
    border-left:12px solid #fff; /* bottom, add background color here */
    font-size:0px;
    line-height:0px;
}
.top-title .arrow.active{
    top: 21px;
    border-right:10px solid transparent;  /* left arrow slant */
    border-left:10px solid transparent; /* right arrow slant */
    border-top:12px solid #fff; /* bottom, add background color here */
}

.my-orders h1{
    background-image: url('../image/title_bg5.jpg');
    background-size: cover;
    background-position: bottom center;
}
.orders-box{margin-top: 13px}
.orders-box h3{
    background-color: #dfaa26;
    margin-bottom: 0;
    font-size: 20px;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    margin-top: 0;
    padding-left: 13px;
    padding-right: 13px;
    color: #fff;
}
.item-list{
    background-color: #fff;
    font-size: 18px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 10px;
}
.item-list ul{margin-bottom: 0}
.item-list .product{
    color: #000;
    overflow: hidden;
    width: 40%;
    /*text-overflow: ellipsis;
    white-space: nowrap;*/
}
.item-list .qty{color: #777;overflow: hidden;vertical-align:top;}
.item-list .price{color: #777}
.item-list ul li{line-height: 46px;}
.item-list .order-info{color: #777;font-size: 18px;width: 100%;margin-top: 5px;margin-bottom: 0}

.pickup h1{
    background-image: url('../image/title_bg8.jpg');
    background-size: cover;
    background-position: right center;
    color: #60abae;
}
.pickup-bg{
    background-image: url('../image/shipping_bg.jpg');
    background-size: cover;
    background-position: right; 
    background-repeat: no-repeat;
    margin-top: 10px;
    color: #777;
    font-size: 16px;
    min-height: 290px;
}
.pickup .btn{color: #fff}
.pickup .btn:disabled{
    background-color: #4daf5d;
    border-color: #41944f;
}

.shipping .pickup-bg{
    background-position: 0 -10px;
    background-size: contain;
}

.cart h1{
    background-image: url('../image/title_bg9.jpg');
    background-size: cover;
}
.cart-item {
    border-bottom: 1px solid #dfaa26;
    padding-bottom: 20px;
}
.cart-item h4{font-size: 23px;}
.item-amount{width: 50%}
.item-amount input{font-size: 23px;background-color: #fff;border: 1px solid #777777;padding:5px 10px;display: inline-block;width: 40%;text-align: center;color: #777}
.item-amount span{
    border: 1px solid #777777;
    padding: 5px 10px;
    font-size: 23px;
    background-color: #fff;
    display: inline-block;
}
.cart-item .item .minus{border-radius: 10px 0 0 10px;}
.cart-item .item .plus{border-radius: 0 10px 10px 0;padding: 5px 8px;}
.cart-item .item .price{color: #777;font-size: 23px;padding: 5px;width: 30%}
.cart-item .item .qty{color: #777;font-size: 23px;padding: 5px;width: 20%}
.cart-item .item-sum{color: #777;font-size: 23px;;margin-bottom: 0;margin-top: 5px}
.cart-order{margin-top: 20px;font-size: 18px;color: #777}
.cart-order a{font-size: 14px;text-decoration: underline;}

.shipping_method{
    font-size: 18px;color: #777;
    border-bottom: 1px solid #dfaa26;
}
@media(max-width: 360px){
    .shipping_method{
        font-size: 14px
    }
}
.submit-btn, .submit-btn:focus, .submit-btn:hover{
    background-color: #d99542;
    border-color: #af7835;
    color: #fff;
    margin-bottom: 20px
}
.submit-btn:disabled, .submit-btn:disabled:hover, .submit-btn:disabled:focus{
    background-color: #d99542;
    border-color: #af7835;
    color: #fff;
}
.detail-box{margin-top: 0px}
.certs{font-size: 12px;margin-top: 10px}
.certs ul li{width: 19%;}

.product-body .top-title{text-indent: -2em}
.product-detail{font-size: 16px;}
.product-detail .detail-box h4{font-size: 20px;}
.product-detail .cart-item{border: none;padding-bottom: 5px}
.product-detail .item-amount,.product-detail .cart-item .item .price{width: 100%;}
.product-detail .cart-item .item .price{color: #fb6400;font-size: 25px;}
.product-detail .content{font-size: 14px;}
.product-detail .favorites-btn{
    background-color: #fff;
    margin-top: 4px;
    font-size: 16px;
}
.product-detail .favorites-btn.active{
    background-color: #e33573;
    color: #fff;
    border-color: transparent;
}
.product-detail .submit-btn{margin-bottom: 0}
.other-content{margin-bottom: 10px;}
.other-content .content{padding-top: 10px;display: none;}
.other-content.active .content{display: block;}
.other-content .top-title{
    background-color: #b3ae8e;
}
.other-content.active .top-title{
    background-color: #4daf5d;
}
.related .top-title2{
    background-color: #d99542;
}

.sidebar{
    background-image: url('../image/nav_bg.jpg');
    left: -100%;
    top: 0;
    width: 46%;
    z-index: 99999;
    transition: all 0.2s;
    position: absolute;
    /*display: none;*/
}
.sidebar.active{
    left: 0;
    position: relative;
}
.sidebar .nav li img{height: 20px;margin-right: 3px;vertical-align: sub;}
.sidebar .nav li a{
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    white-space: nowrap;
}
@media (max-height: 620px){
    .sidebar .nav li a{
        padding-top: 7px;
        padding-bottom: 7px;
    }
}
@media (max-height: 480px){
    .sidebar .nav li a{
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .sidebar .nav li img{
        height: 16px;
    }
}
.sidebar .nav>li.active>a, .sidebar .nav>li>a:focus, .nav>li>a:hover{
    background-color: rgba(77,175,93,0.7);
}
.sidebar .tab-content{
    position: absolute;
    left: 100%;
    top: 0;
    /*width: 100%;*/
    height: 100%
}
.sidebar .tab-content .tab-pane{
    background-image: url('../image/nav_bg.jpg');
    height: 100%;
}
.sidebar .tab-content ul{
    background-color: rgba(77,175,93,0.7);
    margin-bottom: 0;
    height: 100%
}
.sidebar .tab-content .tab-pane li a{
    color: #fff;
    font-size: 16px;
    padding: 13px 25px;
    white-space: nowrap;
}

.modal-msg{margin-top: 25%}
#allmap {width: 100%;height: 300px;overflow: hidden;margin-bottom:10px;}

.hidden-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

input[type=radio]+span {
    /* your style goes here */
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #fafafa; 
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 -15px 10px -12px rgba(0, 0, 0, 0.05) inset;     
}

/* active style goes here */
input[type=radio]:checked+span:after {
    background: #99a1a7 none repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
    content: " ";
    font-size: 30px;
    height: 14px;
    left: 23px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.loading-spiner-holder{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.loading-spiner{
    position: absolute;
    top:35%;
    left: 0;
    right: 0;
}

.loading-spiner > div > div{
    background-color: #62B946
}
.owl-controls{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}