body.backend{
  background-image:linear-gradient(to bottom,#050505,#5e5e5e,#050505);
}

.dn{display: none;}
.dinb{display: inline-block;}

.container{width: 1170px !important;}
@media (max-width: 768px){
  .nav-justified > li{float: left;}
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th
{
  vertical-align: middle;
}
.talbe-no-border > tbody > tr > td{
  border: none;
}

.skin {
  background-color: #fff;
  border-radius: 20px;
  margin: 0 auto;
  width: 1170px;
}
.warp.container{padding: 0}

.breadbg{background-color: #dddddd;padding: 10px 15px}
.breadbg .breadcrumb{margin-bottom: 0}

.line{border-top: 1px solid #474747;border-bottom: 1px solid #d8d8d8;width: 100%}
.backend-navbar .navbar-brand{height: auto;}
.backend-navbar .logout{margin-top: 20px}

nav{margin: 10px 0}

.warp .jumbotron{padding: 10px 15px;background-color: #cccccc;border-radius: 0;margin-bottom: 0}
.warp .jumbotron h4{font-size: 16px}
.jumbotron_wrap{background-color: #eeeeee;border-radius: 10px;padding:15px;}
.jumbotron .bg{background-color: #fff;padding: 10px 10px;border-radius: 10px}

/*.backend .modal {
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  left: 50%;
  margin-left: -280px;
  outline: 0 none;
  position: fixed;
  top: 10%;
  width: 560px;
  z-index: 1050;
  height: 110px
}
*/
.p_td p{font-size: 14px;margin: 5px 0}

footer p{margin-top: 18px;margin-bottom: 14px;}