.container{width: 800px !important}
.table th{color: #fff !important;text-align: center !important;}
.table th.color1{background-color:#569A84 !important;}
.table th.color2{background-color:#79B253 !important;}
.table tr.color2{background-color:#79B253 !important;}
.fontcolor1{color:#569A84 !important}
.fontcolor2{color:#79B253 !important}
.customer .color1{width:50% !important;}
.customer .color2{width:50% !important;}
.list-unstyled{margin-bottom: 0}
.amoutline{
    border-top: 1px solid #000000 !important;
    padding-top: 3px;
}
.companyInfo{border-top: 1px solid #000000 !important;padding-top: 10px !important;margin-top: 30px !important}